.env
config/
docker-compose.override.yml
docker-compose.remote.yml
nginx/remote.conf
*.tar.gz
/reviews
middleware/pelicula-api
procula/procula
coverage.out
procula/testcache/
docs/design-exploration/_archive/
